body {
    background-color: #ffffff !important;
}
.flat {
	border-radius: 0px !important;
}
#topbar {
	background-color: #547f36;
}
.topbar-menu .left {
	float:left;
}
.topbar-menu .right {
	float: right;
}
.topbar-menu {
	margin:0px;
	list-style-type: none;
	padding-left:0px;
}
.topbar-menu li {
	float: left;
	padding:10px;
}
.topbar-menu li a {
	color:#fff;
	font-size: 12px;
}

@media (max-width: 768px) {
	.logo {
		text-align: center
	}
}

.search {
	margin-bottom: 40px;
}
.recents {

}
.recent-tits {
	padding-bottom: 5px;
	border-bottom:5px solid #547f36;
	margin-bottom: 25px;
}
.post {
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.post-date,.post-tits,.post-by {
	margin:0px;
}
.post-date {
	text-transform: uppercase;
	font-size: 12px;
	color:#aaa;
	font-weight: 600;
}
.post-tits a{
	color:#575757;
	font-weight: 600;
	font-size: 16px;
}
.post-by {
	font-size: 12px;
	color:#aaa;
	font-weight: 600;
}
.bb-1 {
	border-bottom:1px solid #bbb;;
}
.carousel-indicators .active {
    background-color: #547f36;
}
.cats {

}
.some-cat {
	position:relative;
}
.bot-overlay {
	background-color: rgba(20,20,20,0.5);
	position: absolute;
	height: 27px;
	z-index: 3;
	bottom: 0;
	right: 0;
	left: 0;
}
.cats .tits {
	position:absolute;
	margin:0px!important;
	padding-left:10px;
	padding-bottom:0px;
	left: 0;
	bottom: 0;
	color:#fff;
	font-weight: 600;
	font-size: 14px;
}
.some-cat:hover .btn-go-right {
  opacity: 1;
}
.btn-go-right {
	transition: .5s ease;
	opacity:0;
	color:#fff;
	padding:2px 10px;
	background-color: #33d6ff;
	position:absolute;
	bottom:0;
	right: 0;
	z-index: 2l
}
.btn-1 {
	background-color: #547f36;
}
.btn-2 {
	background-color: #547f36;
}
.btn-3 {
	background-color: #547f36;
}

.featured-news {
	background-color: #333;
	padding:10px 10px 5px 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.featured-news .header .feat-news-tites {
	color:#fff;
}

.btn-partner {
	background-color: #547f36;
	color:#fff !important;
	font-weight: 600;
}

.hero-text {
	text-align: left;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text a {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
}

.hero-text button:hover {
	background-color: #555;
	color: white;
}